@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Arial, Helvetica,
    sans-serif;
  line-height: 1.1;
  letter-spacing: 0em;
  margin: 0;
  padding: 0;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
